:root {
  --primari-text-color: #212121;
  --secondary-text-color: #757575;
  --background-color: #ffffff;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--primari-text-color);
  background-color: var(--background-color);
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.link:hover,
.link:focus {
  --accent: #2196f3;
  color: var(--accent);
}
.nav-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--primari-text-color);
}
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.last-part {
  color: #000000;
}
.last-part-footer {
  color: #ffffff;
}
.nav-studio {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--primari-text-color);
}
.nav-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}
.mail-header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.tel-header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.section-main {
  background-color: #2f303a;
}
.section-team {
  background: #f5f4fa;
}
.about-name {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.btn {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
}
.btn-portf {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
}
.btn:hover,
.btn:focus {
  --background-color-btn: #188ce8;
  background-color: var(--background-color-btn);
  color: #ffffff;
}
.skill-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.team-skills {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.picture-name {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.team-name {
  font-weight: 500;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: var(--primari-text-color);
}
.team {
  background: #ffffff;
}
.prof {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.content {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.content-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.footer {
  background-color: #2f303a;
}
.address {
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.contact-footer {
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
